.gradient-bg {
    height: 87vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(148,237,167,1) 100%, rgba(166,181,105,1) 100%, rgba(253,174,45,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.text-black {
    color: black;
}

.book-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.book-image {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
}

.book-info {
    flex: 2;
}

body {
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden; 
    margin: 0;
}

.gradient-bg1 {
    background: linear-gradient(0deg, rgba(34, 193, 195, 0.3) 0%, rgba(148, 237, 167, 0.3) 100%, rgba(166, 181, 105, 0.3) 100%, rgba(253, 174, 45, 0.3) 100%);
    height: 100vh; 
    width: 100%; 
}

.search-container {
    text-align: center;
}

.search-form {
    margin-top: 30px;
}

.form-check-inline {
    margin-right: 10px;
}

.navbar {
    height: 50px; 
}

.nav-link {
    padding: 10px;
    margin: 0; 
    color: white; 
    transition: color 0.3s; 
}

.nav-link:hover {
    color: #007BFF; 
}