.gradient-bg {
    height: 87vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(148,237,167,1) 100%, rgba(166,181,105,1) 100%, rgba(253,174,45,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added to align items vertically */
}
.gradient-bg1 {
    height: 100vh;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(148,237,167,1) 100%, rgba(166,181,105,1) 100%, rgba(253,174,45,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added to align items vertically */
}
.text-black {
    color: black;
}

.book-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.book-image {
    flex: 1;
    max-width: 300px; /* Adjust as needed */
    margin-right: 20px;
}

.book-info {
    flex: 2;
}

