<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sections</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="../static/login.css" rel="stylesheet">
</head>
<body>
    <div class="px-3 py-0 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <ul class="nav col-lg-auto ms-auto my-2 text-small">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-light d-flex flex-column align-items-center">
                            <i class="bi bi-house-door mb-1" style="font-size: 1.5rem;"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-light d-flex flex-column align-items-center">
                            <i class="bi bi-table mb-1" style="font-size: 1.5rem;"></i>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Section" class="nav-link text-light d-flex flex-column align-items-center">
                            <i class="bi bi-journal-plus" style="font-size: 1.5rem;"></i>
                            Section
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link text-light d-flex flex-column align-items-center">
                            <i class="bi bi-box-arrow-right mb-1" style="font-size: 1.5rem;"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
    <div class="gradient-bg" >
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <div class="mb-3">
                <div class="mb-3">
                    <input autofocus="autofocus" name="Search" id="searchform" class="form-control text-black" size="60" maxlength="200" value="" placeholder="Book Search">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-warning" value="Search">
                </div>
                <b class="mb-2 text-black">Search in fields</b>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Search" value="Section Name">
                    <label class="form-check-label text-black">Section Name</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Search" value="Book Name">
                    <label class="form-check-label text-black">Book Name</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Search" value="Author">
                    <label class="form-check-label text-black">Author</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Search" value="Year">
                    <label class="form-check-label text-black">Year</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Search" value="Section ID">
                    <label class="form-check-label text-black">Section ID</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Search" value="Book ID">
                    <label class="form-check-label text-black">Book ID</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Search" value="Language">
                    <label class="form-check-label text-black">Language</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="Search" value="Description">
                    <label class="form-check-label text-black">Description</label>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
