<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="../static/login.css" rel="stylesheet">
</head>
<body>
    <div class="px-3 py-0 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <ul class="nav col-lg-auto ms-auto my-2 text-small">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-light d-flex flex-column align-items-center">
                            <i class="bi bi-house-door mb-1" style="font-size: 1.5rem;"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-light d-flex flex-column align-items-center">
                            <i class="bi bi-table mb-1" style="font-size: 1.5rem;"></i>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/add_section" class="nav-link text-light d-flex flex-column align-items-center">
                            <i class="bi bi-journal-plus" style="font-size: 1.5rem;"></i>
                            Add Section
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link text-light d-flex flex-column align-items-center">
                            <i class="bi bi-box-arrow-right mb-1" style="font-size: 1.5rem;"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="container mt-4">
            <h2>Books</h2>
            <h5>Section Id: {{ section.id }} | Section Name: {{ section.name }}</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Book Id</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Author Name</th>
                        <th scope="col">Date Issued</th>
                        <th scope="col">Language</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/edit_book/{{ book.id }}">{{ book.id }}</a></td>
                        <td>{{ book.name }}</td>
                        <td>{{ book.author_name }}</td>
                        <td>{{ book.date_issued }}</td>
                        <td>{{ book.language }}</td>
                        <td>{{ book.image }}</td>
                        <td>
                            <a href="/edit_book/{{ book.id }}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="/delete_book/{{ book.id }}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="#" class="btn btn-primary mb-3">Add New Book</a>
            <div></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
