<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sections</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body class="gradient-bg1">
    <div class="px-3 py-0 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <ul class="nav col-lg-auto ms-auto my-2 text-small">
                    {% if User %}
                    <li class="nav-item">
                        <a href="{{ url_for('user_dashboard') }}" class="nav-link">
                            <i class="bi bi-house-door" style="font-size: 1.5rem;"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('User_My_Books') }}" class="nav-link">
                            <i class="bi bi-book" style="font-size: 1.5rem;"></i>
                            My Books
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('Section') }}" class="nav-link">
                            <i class="bi bi-journal-plus" style="font-size: 1.5rem;"></i>
                            Section
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('Admin_dashboard') }}" class="nav-link">
                            <i class="bi bi-house-door" style="font-size: 1.5rem;"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('Admin_User_revoke')}}" class="nav-link">
                            <i class="bi bi-table" style="font-size: 1.5rem;"></i>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('Section') }}" class="nav-link">
                            <i class="bi bi-journal-plus" style="font-size: 1.5rem;"></i>
                            Section
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('Admin_overview') }}" class="nav-link">
                            <i class="bi bi-speedometer" style="font-size: 1.5rem;"></i>
                            Distribution
                        </a>
                    </li>
                    {% endif %}
                    
                    <li class="nav-item">
                        <a href="{{ url_for('logout') }}" class="nav-link">
                            <i class="bi bi-box-arrow-right" style="font-size: 1.5rem;"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-sections mt-4">
            <h2 class="text-black">Sections</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Section Id</th>
                        <th scope="col">Section Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                        <tr>
                            {% if User %}
                            <td>{{ section.sec_id }}</td>
                            {% else %}
                            <td><a href="{{ url_for('book', section_id=section.sec_id, section_name=section.sec_name) }}">{{ section.sec_id }}</a></td>
                            {% endif %}
                            <td>{{ section.sec_name }}</td>
                            <td>{{ section.description }}</td>
                            <td>{{ section.date_created }}</td>
                            {% if User %}
                            <td>
                                <a href="{{ url_for('book', section_id=section.sec_id, section_name=section.sec_name) }}" class="btn btn-success btn-sm">View Book Collection</a>
                            </td>
                            {% else %}
                            <td>
                                <form method="post" action="{{ url_for('Admin_delete_section', sec_id=section.sec_id) }}">
                                    <a href="{{ url_for('Admin_edit_section', sec_id=section.sec_id) }}" class="btn btn-warning btn-sm">Edit</a>
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                                
                            </td>
                            {% endif %}
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if User %}
            {% else %}
            <div><a href="{{ url_for('Admin_add_section') }}" class="btn btn-primary mb-3">Add New Section</a></div>
            {% endif %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
